/* body {
  background-color: white;
}

.outer p,
h1,
h2,
h3 {
  color: #121413;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */

/* vinrød: #591F1F */
/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* text-align: center; */
  margin: auto;
  justify-content: center;
  align-items: center;
  font-family: "Exo";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #121413;
  font-size: 1.1rem;
}

h1,
h2,
h3 {
  font-family: "Syncopate", "Lucida Grande", sans-serif;
  font-family: ;
  font-weight: 700;
}

.header a {
  font-family: "Syncopate", "Lucida Grande", sans-serif;
}

.dark-mode {
  background-color: #282828;
  color: whitesmoke;
}

.dark-mode header,
footer {
  background-color: #180227;
}

.dark-mode footer {
  background-color: #180227;
}

.outer {
  border: 2px #e5e5cb68;
  min-height: 250px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* flex-wrap: wrap; */
}

img {
  cursor: pointer;
}

.inner {
  margin: 10px auto;
  padding: 10px;
  /* line-height: 80px; */
}

.round {
  border-radius: 50%;
}

.video-container {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
}

.video-container > video {
  /* flex: 1; */
  width: 75%;
}

.video-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: 200px; */
  flex: 1;
}

.video-controls,
.timeline {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}

.video-controls button {
  background-color: #dedede;
  border: none;
  border-radius: 8px;
}

.video-controls button img {
  padding: 10px;
}

.timeline button {
  padding: 0 10px;
  background-color: #d5cea3;
  border: none;
}

.video-title {
  display: flex;
  justify-content: space-between;
}

.video-title h1 {
  font-size: 1.2rem;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #66656368;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: coral;
  width: 0;
  transition: width 0.3s ease;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #d3d3ff;
  padding: 2rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.header p,
a,
li {
  text-decoration: none;
  list-style-type: none;
}

.header div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  list-style: none;
  display: flex;
}

nav a {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  margin-right: 5rem;
}

h1 {
  font-size: 2ch;
  margin-right: 1rem;
}

a {
  align-content: space-around;
  color: black;
  font-weight: bold;
}

.mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #d3d3ff;
  color: #121413;
  width: 100%;
  padding: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.outer h2 {
  color: #121413;
}

#mode-btn {
  width: 150px;
  padding: 5px;
  background-color: #c6bbee;
  border-color: #7765ba;
  border-radius: 10px;
  border-style: solid;
}

.dark-mode h2,
a,
p {
  color: whitesmoke;
}

.dark-mode #mode-btn {
  color: whitesmoke;
  background-color: #6c458b;
  border-color: #524061;
}

.dark-mode .progress-bar {
  color: #a81414;
}

a {
  font-weight: bolder;
}
