@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="390b871e-3696-198a-13f6-cccd13792600"] {
    -webkit-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    -moz-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    -ms-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-4deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="5d5c462f6b9318c71bed42e5"] {
    background-color: rgba(0, 0, 0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="1f7c7114-eb24-7203-b415-e5548dd1d590"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-2deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="fbf5cc66-b226-6dcb-b6c1-807349bd3e96"] {
    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(6deg) skew(0, 0);
    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(6deg) skew(0, 0);
    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(6deg) skew(0, 0);
    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(6deg) skew(0, 0);
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="390b871e-3696-198a-13f6-cccd13792600"] {
    -webkit-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    -moz-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    -ms-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-4deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="5d5c462f6b9318c71bed42e5"] {
    background-color: rgba(0, 0, 0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="1f7c7114-eb24-7203-b415-e5548dd1d590"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-2deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="fbf5cc66-b226-6dcb-b6c1-807349bd3e96"] {
    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(6deg) skew(0, 0);
    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(6deg) skew(0, 0);
    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(6deg) skew(0, 0);
    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(6deg) skew(0, 0);
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="390b871e-3696-198a-13f6-cccd13792600"] {
    -webkit-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    -moz-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    -ms-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-4deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="5d5c462f6b9318c71bed42e5"] {
    background-color: rgba(0, 0, 0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="1f7c7114-eb24-7203-b415-e5548dd1d590"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-2deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="fbf5cc66-b226-6dcb-b6c1-807349bd3e96"] {
    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(6deg) skew(0, 0);
    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(6deg) skew(0, 0);
    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(6deg) skew(0, 0);
    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(6deg) skew(0, 0);
  }
}
@media (max-width: 479px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="390b871e-3696-198a-13f6-cccd13792600"] {
    -webkit-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    -moz-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    -ms-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-4deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="5d5c462f6b9318c71bed42e5"] {
    background-color: rgba(0, 0, 0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="1f7c7114-eb24-7203-b415-e5548dd1d590"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-2deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="fbf5cc66-b226-6dcb-b6c1-807349bd3e96"] {
    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(6deg) skew(0, 0);
    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(6deg) skew(0, 0);
    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(6deg) skew(0, 0);
    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(6deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="390b871e-3696-198a-13f6-cccd13792600"] {
    -webkit-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    -moz-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    -ms-transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-4deg) skew(0, 0);
    transform: translate3d(-10px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-4deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="5d5c462f6b9318c71bed42e5"] {
    background-color: rgba(0, 0, 0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="1f7c7114-eb24-7203-b415-e5548dd1d590"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-2deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-2deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="fbf5cc66-b226-6dcb-b6c1-807349bd3e96"] {
    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(6deg) skew(0, 0);
    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(6deg) skew(0, 0);
    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(6deg) skew(0, 0);
    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(6deg) skew(0, 0);
  }
}
