/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
  gap: 20px;
}

.outer {
  border: 2px dashed #e5e5cb7a;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: cornsilk;
  /* scale: 0.95; */
}

.inner {
  background-color: #d5cea3;
  padding: 10px;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  width: 100%;
  display: none;
  z-index: 1;
}
.inner p {
  color: #3c2a21;
}

#more-info.show {
  display: block;
}

.outer img {
  cursor: pointer;
}

/* styling for the drop down menu */
header,
footer {
  width: 100%;
  height: 50px;
  background-color: cornsilk;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

#profile-button {
  border: 1px solid black;
  margin-right: 10px;
}

#profile-content {
  position: absolute;
  top: 100%;
  background-color: cornsilk;
  right: 10px;
  width: 106px;
  display: none;
}

#profile-content ul > li {
  padding: 10px;
  border-bottom: 1px solid black;
}

#profile-content ul > li:hover {
  background-color: bisque;
}

#profile-content.show {
  display: block;
}

/* or:
.show {
  display: block;
  this will overwtire the #profile-content. that's why it's important to do 
  #profile-content.show {
  display: block;
}
} */

/* Styling for the scroll example */
#scroll-content {
  width: 400px;
  height: 200px;
  overflow: auto;
  border: 2px dashed #e5e5cb7a;
}

#long-text {
  width: 700px;
  height: 700px;
}

#slides-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}
.slides {
  border: 1px dashed #e5e5cb7a;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  /* background-color: purple; */
}

#navigation {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* styling for the drag drop example */
#purple-box {
  background-color: purple;
  cursor: pointer;
}

#drop-box {
  cursor: pointer;
}
