*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://api.gwpa.no/photos/48e22edddf877b301e35a3260df2e0108c8e01c3/3000x1972/15671-20221111144105993150/original.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  min-height: 90vh;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  font-family: "Simonetta", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #efeade;
  gap: 20px;
  transition: background-image 1s ease-in;
}
/* The transition is for how the background image will change when hovering over the different cards. */

h1 {
  color: black;
  font-family: "Young Serif", serif;
  font-size: 42px;
}

h2 {
  color: white;
  font-family: "Young Serif", serif;
  font-size: 42px;
  margin: 2rem;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #0f0e0e;
}
/* I have added a stroke to the text so it won't be as hard to read when the background changes to 
something with a lower color contrast */

h3 {
  color: black;
  font-family: "Young Serif", serif;
  font-size: 24;
}
/* I have chosen these fonts due to my art gallery theme. The gallery is not for modern art, but 
older classic norwegain art pieces. To match the classic art, I wanted fonts with a traditional theme. 
Which is why I wanted these serif fonts.*/

header,
footer {
  min-width: 100vw;
  padding: 10px;
  background-color: rgb(234, 213, 174, 0.5);
  color: black;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  justify-content: space-between;
}
/* added left: 0; because the header would overflow outside the window on the left. */
/* I chose to have a background in my header so the text is easier to read on top of the different backgrounds.*/
/* The header has a semi-transparent background. I chose that because a solid background seemed awkward and 
out of place and I wanted the background image to continue, covering the whole screen.*/

header h1,
p {
  margin: 0 40px 0 20px;
}
/* Wanted the elements to have some space from the edges of the header */

header p {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
}

footer {
  bottom: 0;
  font-size: 22px;
}
/* To keep it at the bottom of the page */

footer a {
  margin: auto;
}

a {
  color: black;
  font-size: 18px;
  font-style: italic;
  max-width: 190px;
  line-height: normal;
  margin: 20px;
}

a:hover {
  color: rgb(137, 34, 14);
}

button {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #ede3b8;
  border: 2px solid #b7a963;
}
/* Added cursor:pointer to further communicate that the pointed arrow buttons can be clicked */

button img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

button:hover {
  background-color: #e4cb95;
  border: 2px solid #bc9e5e;
}
/* I went with a muted yellowtoned beige as it goes well with the background photo */

#slides-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}
.slides {
  border: 1.5px solid #e4ddd27a;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The navigation + placement and style of the nav buttons */
#navigation {
  position: fixed;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#prev-button {
  position: fixed;
  left: 50px;
}

#next-button {
  position: fixed;
  right: 50px;
}

img {
  height: 300px;
  width: 240px;
  border-radius: 10px;
  object-fit: cover;
}

/* The first card showing The Scream by Munch */

.glide-card {
  height: 100vh;
  width: 100vw;
  perspective: 1000px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.glide-card-inner {
  position: relative;
  height: 300px;
  width: 240px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.6s;
}

.glide-card-front,
.glide-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
}
/* transition so the info card glides in instead of just suddenly appearing on top */

.glide-card-back {
  color: black;
  background-color: wheat;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 240px;
  font-size: 20px;
  line-height: 40px;
  position: absolute;
  transform: translateY(100%);
}

/* Glide-card effects: */
.glide-card-inner:hover .glide-card-back {
  transform: translateY(0);
}
/* Makes the hidden-card glide in over the front-card */

.glide-card-inner:hover ~ body {
  background-image: url("https://ms01.nasjonalmuseet.no/iip/?iiif=/tif/NG.M.00470_BRUK.tif/full/958,1258/0/default.jpg");
  background-size: cover;
  background-position: top center;
}

/* The second card showing Albertine by Krohg */
.flip-card {
  height: 100vh;
  width: 100vw;
  perspective: 1000px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.flip-card-inner {
  position: relative;
  height: 300px;
  width: 240px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* The transforms beneat makes the card flip over*/
.flip-card-inner:hover {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  color: black;
  transform: rotateY(180deg);
  background-color: wheat;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 40px;
}

/* The third card showing "The monolith by Vigeland */
.open-card-outer {
  height: 300px;
  width: 240px;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
  border-radius: 10px;
}

/* A container for the open-card's front-card and the back of the front card: */
.open-card {
  height: 300px;
  width: 240px;
  perspective: 100rem;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  z-index: 100;
  border-radius: 10px;
}

.open-card > * {
  visibility: visible;
}
/* visibility: visible; so what's in the open-card will be visible */

.open-card-container {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
/* transition: all 1s ease; so you can se the card opens instead of it going straight for the opened look. */

.open-card-inner {
  position: relative;
  height: 300px;
  width: 240px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.open-card:hover .open-card-inner {
  transform: rotateY(180deg);
}

.open-card-front,
.open-card-back {
  position: absolute;
  backface-visibility: hidden;
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
  border-radius: 10px;
}

.inside-card {
  background-color: wheat;
  color: black;
  height: 300px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
  border-radius: 10px;
}
/* right: 0; so the info-card goes to the right instead of following the front */

.open-card-front img {
  object-position: top;
}
/* Object position top so the statue wont be cropped by the standard cropping */

.open-card-outer:hover {
  width: 480px;
}
/* I have the width double of what the folded card is so when the card opens, 
    the unfolded card will stay centered instead of the front card going left, 
    making the slide appear uneven */

.open-card-back {
  color: black;
  transform: rotateY(180deg);
  background-color: wheat;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 40px;
}

.open-card-outer:hover .open-card-container {
  transform: rotateY(-180deg);
}
/* rotateY(-180deg) so the .open-card-container will rotate when hovering */

/* The fourth card showing Bridal Procession on the Hardangerfjord by Adolph Tideman & Hans Gude */
.out-card {
  height: 100vh;
  width: 100vw;
  perspective: 1000px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.out-card-inner {
  position: relative;
  height: 300px;
  width: 240px;
  text-align: center;
  transition: transform 0.6s;
}

.out-card-front,
.out-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.out-card-back {
  color: black;
  background-color: wheat;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 40px;
  position: relative;
  transform: translateX(0%);
  transition: 1.5s ease;
  z-index: -1;
}
/* Used z-index so the info card is hidden behind the front-card */

.out-card-inner:hover .out-card-back {
  transform: translateX(100%);
}
/* Makes the hidden info card slide out from underneath the front-card */

/* ------------------------------------------------------------ */
/* BODY FUNCTIONS */
/* The hover background images and their size + positions. I have used cover so the images fits the screen and doesn't duplicate*/
body.change-background-munch {
  background-image: url("https://ms01.nasjonalmuseet.no/iip/?iiif=/tif/NG.M.00470_BRUK.tif/full/958,1258/0/default.jpg");
  background-size: cover;
  background-position: top center;
}

body.change-background-krohg {
  background-image: url("https://ems.dimu.org/image/012uMXPwUExJ?dimension=1200x1200");
  background-size: cover;
  background-position: center;
}

body.change-background-vigeland {
  background-image: url("https://vigeland.museum.no/imager/bilder/Gustav-Vigeland/589/standard_gustav-vigeland_d6249d1aefa7d35946ba52fa46420a7b.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body.change-background-tideman {
  background-image: url("https://www.fineart.no/i/og/1003596-0.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* I wanted the background to change to photos and portaits of the artist. 
This is so the users can better connect with the art piece. I wanted it to 
almost feel like the artist is standing behind the canvas, showing the*/
/*  */
