* {
  color: hotpink;
}

body {
  margin: 1cm;
}
h1 {
  color: brown;
  font-size: 32px;
  font-weight: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Sankofa Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color: blue;
  font-size: 1.6rem;
  text-align: center;
}

p {
  color: red;
}

.my-class {
  color: green;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#my-id {
  color: magenta;
}

p > strong {
  color: black;
}

span {
  display: block;
}

article {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid red;
  padding: 20px;
}

p {
  border: 1px dashed brown;
  padding: 40px;
  font-size: 1.4rem;
  background-color: rgb(194, 255, 255);
  /* width: 200px; */
  /* line-height: 1.7; */
}

.sankofa {
  font-family: "Sankofa Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
    color: blue;
}

a:hover {
    color: pink;
}

p:hover {
    color: chartreuse;
}